<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="UWP POC project">
	<test verbose="2" name="UWP POC project">
		<groups>
			<run>
				<include name="Combined" />
			</run>
		</groups>
		<classes>
			<class name="com.uwp.testscripts.TestClass" />
		</classes>
	</test>
</suite>